
.HomePage {
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.HomePage h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 1rem;
}

.HomePage h2 {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 1rem;
}



.HomePage p {
    font-size: 1.5rem;
    font-weight: 400;
    color: #fff;
    margin-bottom: 1rem;
}

